.main-carousel {
    margin-bottom: 20px;
}

.main-carousel .item {
    height: 300px;
    /* Adjust height as needed */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* Thumbnail Carousel */
.thumbnail-carousel .owl-item{
    width: 75.167px !important;
    margin-left: 16px;
}